<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>JMS PubSub Lab</title>        
    </h:head>
    <h:body>                                    
        JMS
    </h:body>
</html>