<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>JMS PubSub Lab</title>        
    </h:head>
    <h:body>                                    
        <h:form>
            <h:panelGrid columns="2">                                
                Topic: <h:selectOneMenu value="#{news.subject}">
                    <f:selectItem itemValue="myFeed" itemLabel="National"/>
                    <f:selectItem itemValue="myFeed2" itemLabel="Weather"/>
                </h:selectOneMenu>                
                <h:commandButton value="Submit" action="confirm"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>