<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>California Wine Country Reservation Request Confirmation</title>
    </h:head>
    <h:body>
        <h2>California's Wine Country Hotel Reservation Confirmation</h2>
        Your request summary. If this is correct, press <b>Confirmed</b> to send your request, or <b>Back</b> to edit your request.
        <h:form>
            <h:panelGrid columns="2">
                Name: <h:panelGroup>
                    <h:outputText value="#{reserve.firstName}"/><h:outputText value=" "/><h:outputText value="#{reserve.lastName}"/>
                </h:panelGroup>
                E-mail address: <h:outputText value="#{reserve.email}"/>
                Number in your Party: <h:outputText value="#{reserve.numberInParty}"/>
                Reservation Request Date: <h:outputText value="#{reserve.dateRequested}"/>
                Number of nights: <h:outputText value="#{reserve.numberOfNights}"/>
                Region To Search for Hotels: <h:outputText value="#{reserve.region}"/>
            </h:panelGrid>
            <h:commandButton value="Back" action="index"/>
            <h:commandButton value="Confirmed" action="#{reserve.sendRequest()}"/>
        </h:form>
    </h:body>
</html>

